---
import SEO from "@components/SEO.astro";
import Layout from "@layouts/Layout.astro";
const title = "P치gina no encontrada 游뱘 - Chismesito";
const description = "Lo sentimos, la p치gina que est치s buscando no existe o ha sido movida.";
---
<SEO noindex={true}/>
<Layout title={title} description={description}>
  <main class="flex flex-col items-center justify-center min-h-screen bg-[#edc6de] text-gray-900 px-4">
    <h1 class="text-6xl font-bold mb-4">Error 404</h1>
    <h2 class="text-3xl mb-6">P치gina no encontrada</h2>
    <p class="text-xl mb-8 text-center max-w-md">
      춰Hola! Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que la direcci칩n URL sea correcta.
    </p>
    <a 
      href="/" 
      class="bg-black text-white py-2 px-6 rounded-full hover:bg-gray-800 transition-colors duration-300"
    >
      Ir al inicio
    </a>
  </main>
</Layout>