---
import { Image } from 'astro:assets';
import logoLight from '../assets/Chismesito_logo_negro.svg';
import logoDark from '../assets/Chismesito_logo_blanco.svg';
---

<nav class="bg-white dark:bg-gray-800 shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-[6rem]">
      <div class="flex items-center">
        <a href="/" class="flex items-center">
          <Image src={logoLight} alt="Chismesito Logo blanco" width=511 height=264 class="h-20 w-auto block dark:hidden" />
          <Image src={logoDark} alt="Chismesito Logo negro" width=511 height=264 class="h-20 w-auto hidden dark:block" />
        </a>
      </div>
      <div class="hidden md:block border border-slate-900 dark:border-white rounded-[30px] p-[10px]">
        <div class="flex items-center space-x-4">
          <a href="/" class="text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:rounded-[25px] px-3 py-2 rounded-md text-sm font-medium">Inicio</a>
          <a href="/blog" class="text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 hover:rounded-[25px] px-3 py-2 rounded-md text-sm font-medium">Todos los Posts</a> 
        </div>
      </div>
      <div class="md:hidden">
        <button type="button" id="mobile-menu-button" aria-label="Abrir menú" class="text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 inline-flex items-center justify-center p-2 rounded-md focus:outline-none">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="md:hidden hidden transition-all duration-300 ease-in-out max-h-0 overflow-hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a href="/" class="text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 block px-3 py-2 rounded-md text-base font-medium">Inicio</a>
      <a href="/blog" class="text-gray-700 dark:text-gray-300 hover:bg-gray-200 dark:hover:bg-gray-700 block px-3 py-2 rounded-md text-base font-medium">Todos los Posts</a>
    </div>
  </div>
</nav>

<script>
  function setupMobileMenu() {
    const mobileMenuButton = document.getElementById('mobile-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    function toggleMobileMenu() {
      mobileMenu.classList.toggle('hidden');
      if (!mobileMenu.classList.contains('hidden')) {
        mobileMenu.style.maxHeight = mobileMenu.scrollHeight + "px";
      } else {
        mobileMenu.style.maxHeight = "0";
      }
    }

    if (mobileMenuButton && mobileMenu) {
      mobileMenuButton.addEventListener('click', toggleMobileMenu);
    }

    window.addEventListener('resize', () => {
      if (window.innerWidth >= 768 && mobileMenu) {
        mobileMenu.classList.add('hidden');
        mobileMenu.style.maxHeight = "0";
      }
    });

    // Cerrar el menú móvil después de la navegación
    document.addEventListener('astro:after-swap', () => {
      if (mobileMenu) {
        mobileMenu.classList.add('hidden');
        mobileMenu.style.maxHeight = "0";
      }
    });
  }

  document.addEventListener('astro:page-load', setupMobileMenu);
</script>